* {
  
}
body {
  min-height: 100vh;
  min-width: 100vw;
  background-color: rgb(69, 69, 69);
  overflow-x: hidden;
}
Header {
  height: 75px;
  width: 100vw;
  background-color:rgb(11, 174, 255) ;
  padding: 0px 35px;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 80px;
  
}
.App {
display: flex;
flex-direction: column;
align-items: center;
}
.item-card {
  position: center;
  background: white;
    width: 60vw;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    
    border-radius: 3px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.9);
}

ul {
  list-style-type: none;
}
h2 {
  cursor: pointer;
  padding: 25px;
}

h2:hover {
  color: white;
}
.item-card-left {
  padding: 15px 30px; 

}
.bold {
  font-weight: bolder;
}
.edit-btn {
  border:rgb(11, 174, 255);
  border-radius: 15px;
  padding: 5px 15px;
  margin: 15px 10px;
  background-color:rgb(11, 174, 255); 
  color: white;
}
.edit-btn:hover {
  background-color: rgb(9, 141, 207);
  cursor: pointer;
}
.previous-btn {
  color: white; 
  background-color: transparent; 
  border: none;
  cursor: pointer;
  display: inline;
  font-size: large;
  font-weight: bold;
}
.previous-btn:hover {
  color:rgb(11, 174, 255);
  font-size: 25px;
}
.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.next-btn {
  background-color: transparent;
  border: none; 
  color: white;
  cursor: pointer;
  font-size: large;
  font-weight: bold;
}
.next-btn:hover {
  color:rgb(11, 174, 255);
  font-size: 25px;
}
.Name {
  text-underline-position: under;
  text-decoration: underline;
  text-decoration-color: rgb(11, 174, 255);
}
.Number {
   
  
  padding: 0;
  
  
}
.nameAndNumber {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;

}